footer.site-footer
  .container
    ul.link-list
          li
            h6(style="color: white;") Getting started:
            a(href='https://github.com/elastic-project',style="line-height:1") Github Repository<br><small><i>(Check out Elastic on GitHub, and feel free to contribute)</i></small>
            a(href='https://raw.githubusercontent.com/elastic-project/genesis-block/master/genesis-block.json',style="line-height:1") Genesis Block<br><small><i>(Contains the initial distribution of ELC)</i></small>
            a(href='https://github.com/elastic-project/whitepaper/blob/master/whitepaper.pdf',style="line-height:1") Whitepaper<br><small><i>(Researchers record their thoughts in this whitepaper)</i></small>
            a(href='#',style="line-height:1") Bitcointalk Thread<br><small><i>(Join us on Bitcointalk, we wait for you!)</i></small>
          li
            h6(style="color: white;") Who runs the website:
            | <img src="lenny.png" style="float: left; padding-right: 15px;">Bitcointalk.org user <b>Lannister</b> is responsible for this website's content as well as for the management of the project itself. Furthermore he is responsible for all donated funds: "Feel free to get in touch with me on Bitcointalk, I am glad to answer any open questions."
          li
            h6(style="color: white;") Who owns Elastic Project:
            | Elastic Project is an open source project with contributors from around the world. Just like nobody owns the email technology, nobody owns the Elastic network. As such, nobody can speak with authority in the name of the Elastic network.
            br
            | The entire development takes place on GitHub (using the push and pull process) and everyone is entitled to contribute. There is <b>no company or single person</b> behind the Elastic Project.
script(src='js/app.min.js')
script(src='js/custom.js')
script.include(type='text/javascript', src='js/jquery.jqplot.min.js')
script(type='text/javascript', src='js/jqplot.dateAxisRenderer.min.js')
script(type='text/javascript', src='/js/jqplot.canvasOverlay.min.js')
script(type='text/javascript', src='js/plugins.js')
script(type='text/javascript', src='js/btc.js')
script(type='text/javascript', src='js/scripts.js')
script(type='text/javascript', src='js/socket.io.js')
script(type='text/javascript', src='js/update.js')
