footer.site-footer
  .container
    ul.link-list
          li
            h6(style="color: white;") Getting started:
            a(href='https://github.com/elastic-project') Github Repository
            | <i>Website under constructions,<br>more links will follow soon.</i>
          li
            h6(style="color: white;") Learn how to use:
            | <i>Website under constructions,<br>more links will follow soon.</i>
          li
            h6(style="color: white;") Who owns Elastic Project:
            | Elastic Project is an open source project with contributors from around the world. Just like nobody owns the email technology, nobody owns the Elastic network. As such, nobody can speak with authority in the name of the Elastic network.
            br
            | The entire development takes place on GitHub (using the push and pull process) and everyone is entitled to contribute. There is <b>no company or single person</b> behind the Elastic Project.
script(src='js/app.min.js')
script(src='js/custom.js')
script.include(type='text/javascript', src='js/jquery.jqplot.min.js')
script(type='text/javascript', src='js/jqplot.dateAxisRenderer.min.js')
script(type='text/javascript', src='/js/jqplot.canvasOverlay.min.js')
script(type='text/javascript', src='js/plugins.js')
script(type='text/javascript', src='js/btc.js')
script(type='text/javascript', src='js/scripts.js')
script(type='text/javascript', src='js/socket.io.js')
script(type='text/javascript', src='js/update.js')
