include ./includes/header.jade
body.sticky-nav
  header.site-header
    .alert.alert-danger(role='alert',style="margin-bottom: 0px; padding-left: 25px;")
        strong Warning
        |  We are currently <b>based in Switzerland</b> and only subject to the laws of Switzerland, and to the exclusive jurisdiction of the Swiss courts. You are requested to consult your lawyer to see if donating here (and getting ELC in return) is legal in your jurisdiction before participating</b>. <b>If you are using this website, you confirm that you have done so.</b>
    nav.site-navigation
      .container-fluid
        .logo
          a.logo-default(href='/')
            img(src='img/logo.png', alt='logo')
          a.logo-transparent(href='/')
            img(src='img/logo-alt.png', alt='logo')
        a.navbar-toggle(href='#', data-toggle='offcanvas')
          i.fa.fa-bars
        ul.nav-menu
            li
              a.active(href='/') What is Elastic
            li
              a(href='/faq') FAQ
            li
              a.menu-highlighted(href='/crowdsale',style="background-color: #FF7300;") Crowdfunding (
                span#buyer_btc_2 ---
                span  BTC)
            li
              a.menu-highlighted(href='https://github.com/elastic-project/whitepaper/raw/master/whitepaper.pdf') Whitepaper
  .header-image.bg-purple.no-padding.no-overlay
    .container
      .row
        br
        .counter.col-xs-6.col-md-4
          i.fa.fa-btc(style="color: white")
          p(style="color: white")
            span#buyer_btc ---
            span  BTC
          h6 Donated by <span id="buyer_count">--</span> people
        .counter.col-xs-6.col-md-4
          i.fa.fa-percent(style="color: white")
          p(style="color: white")
            span#buyer_percent -,--
            span  %
          h6 of all coins distributed
        .counter.col-xs-6.col-md-4
          i.fa.fa-clock-o(style="color: white")
          p(style="color: white")
            span#blocks_left ---
            span  Blocks
          h6 Time left
        br
  .alert.alert-info(role='alert',style="margin-bottom: 0px; padding-left: 25px;")
      p.text-cols-2.text-justify
        | <strong>Donations</strong> are now being accepted for the upkeep and support of Elastic. Please understand that no shares in a company are offered here and no promises about any future rewards are made. Also, the software related to Elastic comes without any sort of warranty or insurance. We cannot guarantee our software will be totally bug free or that it will function as claimed, but it will always be free and open source. A dontation towards the Elastic project, even during the coin distribution phase, does not imply any obligations, promises or guarantees from either side: a donation is a donation and is non refundable. Also, Elastic Project does not come with any guarantee of success. Your use of our website or our software or your participation in the dontation based crowdfunding signifies your acceptance of these terms. We give away a certain amount of Elastic Coins (ELC) <i>voluntarily</i> to those who support Elastic and record it in the so-called genesis block. This will later be used as the first block in the blockchain and distribute the Elastic Coins in circulation. Please do not consider Elastic Coins (ELC) to be shares, futures, certificates, securities, bonds, treasures, profit-sharing agreements, or anything similar. To repeat, all donations are strictly non-refundable. The ELC giveaway ends when Bitcoin block 425920 has passed.</b> 
  main
  section#sec-quick-start
   .container(style="margin-top: -40px; padding-right: 20px;")
      .col-xs-6
        .callout.callout-info(role='warning')
          h4 How many Elastic Coins you get:
          p(style="padding-top: 5px;")
          |  Depending on the time your donation transaction appears in the block chain, you will be voluntarily credited a certain amount of ELC (see chart below). This process is fully automatic and requires only 1 confirmation. The current status of the genesis-block can be seen in the  
          a(href='https://raw.githubusercontent.com/elastic-project/genesis-block/master/genesis-block.json') genesis block repository on Github
          #chart2.one-third.inline-chart(style="width:490; margin-bottom: 0px; margin-top: 25px;")
          | <br><br> You can calculate the exact number using the formula below:<br>(<i>b</i> is the block # in which your transaction appears for the first time)<br><br><img style="margin-left: 50px;" src=eqn.png> <!--f(b)=\max(\min(-\frac{4000}{25920}\cdot(b-400000)+8000,8000),0) -->
      .col-xs-6
        .callout.callout-info(role='alert',style="height: 280px")
          h4 Get Started
          p(style="padding-top: 5px;")
            #hil1
              | <a href="#" onclick="document.getElementById('hil1').style.visibility='hidden';document.getElementById('hil2').style.visibility='visible';document.getElementById('hil1').style.visibility='hidden';document.getElementById('hil1').style.height=0; document.getElementById('hil1').style.visibility='hidden';document.getElementById('hil1').innerHTML=''; document.getElementById('hil2').style.position='initial';"><img src="superblur.png"/></a>
            #hil2(style="visibility: hidden; position: absolute")
                .row
                    .col-xs-3
                      | <img src="qr.png"/>
                    .col-xs-9
                      p(style="font-family: monospace;font-size: 18px;font-style: normal;") 3Q2aKEGFTKDw3hghsBifXp39CZVMtZukxn
                      | Donators need to send a BTC transaction to the BTC address above <font color=red><b>(2 of 2 multisignature offline storage)</b></font>. The minimum amount is 0.01 BTC. All donations are non-refundable. Your ELC are credited to the public key(s) associated with your bitcoin address.
        .callout.callout-danger(role='warning')
          h4 Important Hints
          p(style="padding-top: 5px;")
          | Please make sure, that you keep the private keys to the bitcoin addresses you used to send the crowdfunding BTC from in a safe place. All ELC are being sent to the public key associated with these addresses. More precisely, if you use funds from multiple addresses the first one appearing in the inputs is used to deliver your ELC. To avoid confusion it is always best to first send all your BTC to one address, and use that to participate in the crowdfunding. In this context it is important to mention to *NEVER* use an exchange directly to crowdfund us as you most likely do not own the private keys to the addresses where the funds are sent from. Also: Bitcoin-Qt's coin control feature might come in handy.<br><font color=red>Generally, you should be safe if you keep a backup of your wallet.dat in a safe place. Wallet backups and/or recovery phrases from Blockchain.info, HIVE or Breadwallets are fine as well</font>. An easy <i>import function</i> will be integrated in the reference client to swipe your ELC from your wallet.dat.
include ./includes/footer.jade
