include ./includes/header.jade
body.sticky-nav
  include ./includes/site-header.jade
  .header-image.bg-purple.no-padding.no-overlay
    .container
      br
      h1 <strong>Elastic,</strong> Next-Generation Cloud Computing
      h4 In this section you will learn everything about Elastic Project.
      br
  main
    section#sec-1
      div.row(style="margin-top: -30px; padding-right: 20px;")
        header.section-header(style="margin-bottom: 0px")
          br
          br
          span This section is undergoing a major revision
          br
          br
          br
          br
          br
          

include ./includes/footer.jade
